@keyframes coin-flip {
    0% {background: url("./images/heads.png")}

    25% {background: url("./images/tails.png")}

    50% {background: url("./images/heads.png")}

    75% {background: url("./images/tails.png")}

    100% {background: url("./images/heads.png")}
}

.animate {
  width: 405px;
  height: 405px;
  background-color: gray;
  animation-name: coin-flip;
  animation-duration: 1s;
  animation-iteration-count: 2;

}

body {
  font-family: serif;
}

button {
  border-radius: 10px;
  font-size: 18pt;
  margin: 0 25px;
}

.coin-heads {
    margin-left: 330px;
  }

  #coin-flip {
    background: url("./images/heads.png");
    height: 405px;
    width: 405px;
    margin-left: 250px;
  }
  h1 {
    margin-left: 280px;
  }

.player-score {
  margin-left: 40px;
}

  .scoreboard {
    display: inline-block;
    font-size: 7rem;
    height: 125px;
    width: 125px;
    margin: 10px 140px;
    text-align: center;
  }

.scoreboard-header {
  display: inline-block;
  font-size: 30px;
}

.c1 {
  margin-left: 225px;
}

.p1 {
  margin-left: 135px;
}

  .coin-outcome {
    margin-left: 220px;
    font-size: 3rem;
  }
