@keyframes coin-flip {
    0% {background: url("./images/heads.png")}

    25% {background: url("./images/tails.png")}

    50% {background: url("./images/heads.png")}

    75% {background: url("./images/tails.png")}

    100% {background: url("./images/heads.png")}
}

.animate {
  width: 405px;
  height: 405px;
  background-color: gray;
  animation-name: coin-flip;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

body {
  font-family: serif;
}

.bottom-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 25pt;
  margin: 15px 50px;
}

.container {
  width: 820px;
  margin: 0 auto;
}

#coin-flip {
    background: url("./images/heads.png");
    height: 405px;
    width: 405px;
    margin: 0 auto;
}

.game-score {
  font-size: 6rem;
  text-align: center;
}

  h1 {
    margin: 0 auto;
    text-align: center;
  }

.scoreboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
}

.selection-header {
  margin-top: 15px;
}
.c1 {
  display: inline-block;
  margin: 0 50px;
}

.p1 {
  display: inline-block;
  margin: 0 50px;
}

.computer-score {
  display: inline-block;
  margin: 0 110px;
}

.player-score {
display: inline-block;
margin: 0 110px;
}